.card-min {
  /* padding: 8px; */
  z-index: 1;
  position: relative;
  height: 290px;
  margin: 15px;
  padding: 15px;
  border-radius: 30px;
  background-color: var(--white);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  /* border-top: 6px solid #d8d8d8; */
  transition: all 0.3s ease-in-out;
}
.card-min:hover {
  /* border-top: 6px solid #0080ad; */
  cursor: pointer;
  transform: translateY(-6px);
}

.card-min-user {
  height: 350px;
}

.card-min-logo {
  height: 200px;
  border-radius: 30px;
}

.card-min-content {
  height: 85px;
}

.card-min h4 {
  margin-top: 10px;
  padding: 0 20px;
  font-size: 1.5rem;
  line-height: 1;
  text-align: left;
  color: var(--black);
}
.card-min p {
  margin-top: 8px;
  padding: 0 20px;
  font-size: 1rem;
  color: var(--black);
}

.card-min-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
}

.card-min-buttons button {
  height: 40px;
  margin-top: 10px;
  font-size: 1.25rem;
}

.card-min.dummy {
  width: unset !important; /* without !important gets changed to 100% which is wider than normal */
  display: flex !important; /* without !important gets changed to inline-block by the slider */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-min.dummy:hover {
  cursor: default;
}

.card-min.dummy h4 {
  text-align: center;
  line-height: 140%;
}

.card-min.dummy button {
  height: 40px;
  font-size: 1.25rem;
}
