#create-container {
  padding-top: 70px;
}

.create-form {
  width: 960px;
  padding: 40px 80px 30px;
  margin: 60px auto 0;
  border-radius: 40px;
  background-color: var(--white);
}

.create-form h1 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  text-align: center;
  color: var(--black);
}

.create-form-columns {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  gap: 0 140px;
}

.create-form-col-left,
.create-form-col-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.create-form-input-block {
  width: 100%;
  align-items: center;
}

.create-form {
  .language p {
    font-size: 1.125rem;
    margin-bottom: 5px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    width: 100%;
  }

  & input[type="text"] {
    box-sizing: border-box;
    height: 40px;
    border-radius: 4px;
    font-size: 1rem;
    padding-left: 10px;
    font-family: "Poppins";
    border: 1px solid var(--lightgrey);
  }

  & input[type="text"]::placeholder {
    font-family: "Poppins";
    font-size: 1rem;
    color: var(--lightgrey);
  }

  & textarea {
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
    font-size: 0.875rem;
    font-family: "Poppins";
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid var(--lightgrey);
  }

  & textarea::placeholder {
    font-family: "Poppins";
    font-size: 0.875rem;
    color: var(--lightgrey);
  }

  & textarea#descriptionShort {
    height: 100px;
  }
  & textarea#descriptionPoints {
    height: 350px;
  }

  & textarea#descriptionLong {
    height: 450px;
  }

  & input[type="file"] {
    display: none;
  }
}

.language label {
  margin-right: 15px;
}

.language-options label {
  font-weight: 500;
  width: fit-content;
  margin: 0 20px 0 10px;
}

.language-options {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.dropdown select {
  width: 100%;
  height: 38px;
  border: 1px solid var(--lightgrey);
  border-radius: 4px;
  font-family: "Poppins";
  font-size: 16px;
  padding-left: 5px;
}

.create-form-char-counter {
  font-size: 0.75rem;
}

.create-form-demo-input {
  width: 100% !important;
  margin-bottom: 2px;
}

.form-lesson {
  margin-top: 30px;
  padding: 10px 15px 2px;
  border: 1px solid var(--lightgrey);
  border-radius: 10px;
}

.form-lesson h6 {
  font-size: 1.125rem;
  text-align: center;
}

.form-lesson-inputs {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 10px;
  gap: 10px;
}

.form-lesson-input-block {
  flex-grow: 1;
}

.form-lesson-inputs input {
  margin-bottom: 2px;
  width: max-content;
}

.form-lesson button {
  font-size: 1rem;
  height: 40px;
  border: 1px solid var(--black);
}

button.form-lesson-add {
  height: 40px;
  margin-top: 30px;
  width: 100%;
  max-width: unset;
  font-size: 1.125rem;
  border: 1px solid var(--black);
}

/* Image upload button */
/* .upload-button {
  width: 100%;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  padding: 10px 0;
} */

.form-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 100%;
  margin-top: 40px;
}

.form-buttons button,
.form-buttons input[type="submit"] {
  max-width: unset;
}

.create-form-missing-value {
  border: 2px solid red !important;
}

@media (max-width: 1200px) {
  .create-form {
    width: auto;
    padding: 40px 40px 30px;
    margin: 60px 80px 0;
  }

  .create-form h1 {
    margin-bottom: 30px;
    font-size: 2.25rem;
  }

  .create-form-columns {
    gap: 0 8dvw;
  }

  .create-form {
    .language p {
      font-size: 1.125rem;
    }

    & input[type="text"] {
      font-size: 0.875rem;
    }

    & input[type="text"]::placeholder {
      font-size: 0.875rem;
    }
  }

  .language-options label {
    font-size: 1rem;
  }

  .form-lesson-inputs button {
    padding: 0 10px;
  }

  .form-buttons button,
  .form-buttons input[type="submit"] {
    font-size: 1.25rem;
  }

  .form-buttons button {
    border: 1px solid var(--black);
  }
}

@media (max-width: 768px) {
  #create-container {
    padding-top: 50px;
  }

  .create-form {
    width: auto;
    padding: 30px;
    margin: 50px 40px 0;
  }

  .create-form h1 {
    margin-bottom: 30px;
    font-size: 1.875rem;
  }

  .create-form-columns {
    grid-template-columns: 1fr;
    gap: 0 8dvw;
  }

  .create-form-col-left,
  .create-form-col-right {
    gap: 15px;
  }

  .create-form {
    & input#name {
      width: 100%;
    }
  }

  .language-options label {
    font-size: 1rem;
  }

  .form-lesson-inputs {
    flex-direction: column;
  }

  .form-lesson-input-block {
    width: 100%;
  }

  .form-lesson-inputs input {
    width: 100% !important;
  }

  .form-lesson-inputs button {
    height: 30px;
    width: min(160px, 100%);
    margin: 0 auto 5px;
    padding: 0 10px;
  }

  .form-buttons button,
  .form-buttons input[type="submit"] {
    font-size: 1.25rem;
  }

  .form-buttons button {
    border: 1px solid var(--black);
  }
}

@media (max-width: 480px) {
  .create-form {
    width: auto;
    padding: 20px;
    margin: 30px 20px 0;
  }

  .create-form h1 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    line-height: 1;
  }

  .create-form-columns {
    grid-template-columns: 1fr;
    gap: 0 8dvw;
  }

  .create-form-col-left,
  .create-form-col-right {
    gap: 15px;
  }

  .create-form {
    .language p {
      font-size: 1.125rem;
      margin-bottom: 5px;
      display: inline-block;
      text-align: center;
      font-weight: 700;
      width: 100%;
    }

    & input[type="text"],
    select,
    textarea {
      height: 30px;
      font-size: 0.875rem;
      padding-left: 5px;
    }

    & input[type="text"]::placeholder,
    select::placeholder,
    textarea::placeholder {
      font-size: 0.875rem;
    }

    & input#name {
      width: 100%;
    }
  }

  .language-options label {
    font-size: 0.875rem;
  }

  .form-lesson-inputs button {
    font-weight: 500;
  }

  button.form-lesson-add {
    height: 30px;
    margin-top: 20px;
    font-size: 1rem;
  }

  .form-buttons {
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
    margin-top: 40px;
  }

  .form-buttons button,
  .form-buttons input[type="submit"] {
    height: 40px;
    font-size: 1.125rem;
  }
}
