.error-background {
  background-image: url(/img/background.png);
  background-size: max(600px, 50dvw);
  width: 100%;
  height: fit-content;
  min-height: calc(100dvh - 342px);
  margin-top: 70px;
  padding: 1px 0;
}

.error-content {
  width: 40%;
  /* min-height: 50%; */
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  margin: 120px auto 200px;
  padding: 60px 100px;
  border-radius: 50px;
  background-color: var(--white);
  box-shadow: 35px 50px 50px 0px rgba(0, 0, 0, 0.5);
}

.error-content h3 {
  text-align: center;
  font-size: 2.5rem;
}

.error-content button {
  width: 200px;
}
