h1,
h2,
h4 {
  color: var(--white);
}

#container {
  margin: 0 180px;
  padding: 0;
}

.hero {
  min-height: calc(100vh - 70px);
  height: fit-content;
  max-width: 100%;
  margin-top: 70px;
  /* background-image: url("../../public/img/home_hero.jpeg"); */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../public/img/home_hero.jpeg") lightgray 50% / cover no-repeat;
}

.hero-content {
  padding: 180px 0px 140px;
  max-width: 900px;
  margin: 0 auto;
}

.hero-content h1 {
  text-align: right;
  font-size: 5rem;
  font-weight: 700;
  margin: 0 0 30px;
}

h4 {
  font-size: 2rem;
  text-align: justify;
}

.hero-buttons {
  max-width: 640px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-width: 280px;
  align-items: center;
  gap: 80px;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

section {
  margin-top: 80px;
}

.courses-container {
  height: 440px;
}

.courses-container .slick-slider {
  margin: 30px -15px 50px;
  width: auto;
}
.courses-button-container {
  width: fit-content;
  margin: 0 auto;
}

.advantages {
  margin: 120px -180px 0;
  padding: 80px 180px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../../public/img/home_advantages.jpeg"), lightgray;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.advantages-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 150px;
  margin: 100px 0;
}

.advantages-row {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
}

.advantages-icon {
  font-size: 3.5rem;
  color: var(--white);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.advantages-text {
  font-size: 1.75rem;
  line-height: 120%;
  font-weight: 600;
}

.cta {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  height: 450px;
  margin-top: 160px;
  overflow: hidden;
  border-radius: 30px;
  background-color: var(--white);
}

.cta-img {
  background-position: center;
  background-size: cover;
}

.cta-container {
  padding: 50px;
}

.cta-container h2 {
  color: var(--black);
  line-height: 1;
}

.cta-container h3 {
  margin-top: 40px;
  font-size: 2rem;
  font-weight: 500;
}
.cta-buttons {
  display: flex;
  gap: 40px;
  margin-top: 100px;
}

.cta-buttons button {
  width: 50%;
  max-width: 360px;
  height: 40px;
  font-size: 1.25rem;
}

.cta-buttons button.violet {
  color: var(--white);
  background: var(--accent1dark);
}
.cta-buttons button.violet:hover {
  color: var(--black);
  background: var(--accent2);
}

.cta-buttons button.ghost {
  color: var(--black);
  border-color: var(--black);
  border: 2px solid var(--black);
}
.cta-buttons button.ghost:hover {
  background: var(--accent1dark);
  color: var(--white);
  border: 2px solid transparent;
}
