:root {
  --black: #000;
  --white: #fff;
  --white50: #ffffff80;
  --grey: #303030;
  --lightgrey: #999999;
  --accent1: #be9ff6;
  --accent1dark: #925ff0;
  --accent2: #c8fec7;
  --accent3: #aedcfe;
}

* {
  margin: 0;
  padding: 0;
  color: unset;
  text-decoration: none;
}

html {
  background-color: var(--grey);
}

body {
  font-family: "Poppins", Montserrat, Roboto, sans-serif;
  margin: 0;
  background-image: url("../../public/img/background.png");
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  padding: 0 320px;
  height: 100px;
}

#header-left,
#header-right {
  display: flex;
  align-items: center;
}

#header-left h1 {
  display: inline-block;
  font-size: 32px;
  margin-left: 5px;
  color: var(--white);
}

.violet-button {
  background: var(--accent1);
  border-radius: 30px;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  padding: 8px 15px;
  border: 0;
  transition: all 300ms ease-in-out;
}

.violet-button:hover {
  cursor: pointer;
  background: var(--accent1dark);
}

.ghost-button {
  background: var(--white);
  border-radius: 30px;
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  padding: 8px 15px;
  border: 1px solid var(--black);
  transition: all 300ms ease-in-out;
}

.ghost-button:hover {
  cursor: pointer;
  background: var(--accent1dark);
  color: var(--white);
  border: 1px solid transparent;
}

.my-trainings,
.all-trainings {
  height: 50px;
  width: 190px;
  border-radius: 4px;
  font-size: 20px;
  background: var(--accent1dark);
  margin-left: 8px;
}

.all-trainings {
  margin-right: 40px;
}

.my-trainings:hover,
.all-trainings:hover {
  background: var(--accent2);
  color: var(--black);
}

.counter {
  background: var(--accent2);
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
}

#container {
  padding: 60px 110px 100px;
  margin: 0 320px;
  background-color: var(--grey);
}

#container h1 {
  color: var(--white);
  font-size: 80px;
  line-height: 100%;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
}

.card {
  background: var(--white);
  border-radius: 40px;
  padding: 18px;
  margin-bottom: 30px;
}

.training-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 225px;
  border-radius: 30px;
}

.training-content {
  margin: 18px 32px;
  overflow: hidden;
}

.training-content h2 {
  font-size: 32px;
  font-weight: 700;
  height: 80px;
  line-height: 120%;
  margin-top: 18px;
  word-break: break-all;
  overflow: hidden;
}

.training-item {
  /* width: 500px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.training-item img {
  margin-right: 30px;
}

.register-button {
  width: 100%;
  border-radius: 30px;
  height: 50px;
  background-color: var(--accent1);
}

.register-button:hover {
  fill: #706f93;
}

footer {
  min-height: 120px;
}

/* **************************** */
/* CREATE-TRAINING */
/* **************************** */

.form-training,
.form-login {
  background-color: var(--white);
  border-radius: 40px;
  padding: 60px 30px 30px;
  margin-top: 50px;
}

.form-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 60px;
}

label,
.language p {
  font-size: 18px;
  margin-bottom: 5px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  width: 100%;
}

.language {
  width: 380px;
}

.language-options label {
  font-weight: 500;
  margin: 0;
}

.language-options {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="password"] {
  width: 380px;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="password"] {
  height: 36px;
  border: 1px solid var(--lightgrey);
  border-radius: 4px;
  font-family: "Poppins";
  font-size: 16px;
  padding-left: 5px;
}

input[type="text"]::placeholder {
  font-family: "Poppins";
  font-size: 16px;
  color: var(--lightgrey);
  padding-left: 5px;
}

.dropdown select {
  width: 380px;
  height: 38px;
  border: 1px solid var(--lightgrey);
  border-radius: 4px;
  font-family: "Poppins";
  font-size: 16px;
  padding-left: 5px;
}

input[type="date"],
input[type="time"] {
  font-family: "Poppins";
  font-size: 16px;
  color: var(--lightgrey);
  padding-left: 5px;
  width: calc(100% - 5px);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: block;
  background: "mdi mdi-24px mdi-clock-outline" no-repeat;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
}

input[type="date"]::-webkit-datetime-edit {
  position: relative;
  left: 30px;
}

.two-inputs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

input[type="time"]::-webkit-datetime-edit {
  position: relative;
  left: 40px;
}

.left-content,
.right-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}

.language-options {
  height: 36px;
}

.language label {
  margin-right: 15px;
}

input[type="file"] {
  display: none;
}

.upload-button {
  width: 100%;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  padding: 10px 0;
}

.form-datetime {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
  width: 100%;
  margin-top: 40px;
}

.form-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 100%;
  margin-top: 40px;
}

.form-error {
  margin-top: 30px;
  font-size: 36px !important;
  text-align: center;
  color: var(--accent1);
}

/* **************************** */
/* LOGIN */
/* **************************** */

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
}

.form-status {
  margin-top: 30px;
  font-size: 48px !important;
  text-align: center;
}

.login-button {
  width: 380px;
}

.register-account-button {
  width: 380px;
  font-size: 18px;
  margin-top: 30px;
}

.fine-button {
  font-weight: 400;
}

/* **************************** */
/* POPUP */
/* **************************** */

.popup-background {
  z-index: 200;
  background-color: var(--white50);
  width: 100vw;
  height: 100dvh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  transition: all 300ms ease-in-out;
}

.popup-body {
  max-width: 20vw;
  min-height: 150px;
  background-color: var(--accent3);
  border-radius: 40px;
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 40px;
}

.popup-message {
  font-size: 28px;
  text-align: center;
}
