.login-background {
  background-image: url(/img/background.png);
  background-size: max(600px, 50dvw);
  width: 100%;
  min-height: calc(100dvh - 600px);
  margin-top: 70px;
  padding: 120px 0 160px;
}

.login-content {
  width: 40%;
  gap: 80px;
  margin: 0 auto;
  padding: 40px 80px;
  border-radius: 50px;
  background-color: var(--white);
  box-shadow: 35px 50px 50px 0px rgba(0, 0, 0, 0.5);
}

.login-content h2 {
  text-align: center;
  font-size: 3rem;
  color: var(--black);
}

.login-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login-form-inputs {
  height: 280px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-form-input-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1.125rem;
  margin-bottom: 5px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  width: min(380px, 100%);
}

input[type="text"],
input[type="password"] {
  height: 36px;
  border: 1px solid var(--lightgrey);
  border-radius: 4px;
  font-family: "Poppins";
  font-size: 1rem;
  padding-left: 5px;
}

input[type="text"]::placeholder {
  font-family: "Poppins";
  font-size: 1rem;
  color: var(--lightgrey);
  padding-left: 5px;
}

.login-tip {
  font-size: 0.875rem;
  text-align: center;
  color: var(--lightgrey);
}

.login-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-button {
  width: min(380px, 100%);
}

.register-account-button {
  width: min(380px, 100%);
  font-size: 1.125rem;
}

.fine-button {
  font-weight: 400;
}

@media (max-width: 1200px) {
  .login-background {
    padding: 60px 0 120px;
  }

  .login-content {
    width: 50%;
    padding: 40px 50px;
  }

  .login-content h2 {
    font-size: 2.5rem;
  }

  .login-buttons .login-button {
    height: 40px;
    font-size: 1.25rem;
  }

  .register-account-button {
    height: 40px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .login-background {
    margin-top: 50px;
    padding: 40px 0 80px;
  }

  .login-content {
    width: 60%;
    padding: 40px 50px;
  }

  .login-content h2 {
    height: 75px;
    font-size: 2rem;
    line-height: 1.2;
  }

  .login-form {
    margin-top: 30px;
  }

  .login-form-inputs {
    height: 220px;
    margin-bottom: 30px;
    gap: 10px;
  }

  label {
    font-size: 1rem;
  }

  input[type="text"],
  input[type="password"] {
    height: 30px;
    font-size: 0.875rem;
    padding-left: 5px;
  }

  input[type="text"]::placeholder {
    font-size: 0.875rem;
  }

  .login-tip {
    font-size: 0.75rem;
    text-align: center;
    color: var(--lightgrey);
  }

  .login-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .login-buttons .login-button {
    height: 40px;
    font-size: 1rem;
  }

  .register-account-button {
    height: 40px;
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .login-background {
    margin-top: 50px;
    padding: 40px 0 80px;
  }

  .login-content {
    width: auto;
    margin: 0 20px;
    padding: 40px 30px;
  }

  .login-content h2 {
    height: auto;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .login-form {
    margin-top: 30px;
  }

  .login-form-inputs {
    height: 220px;
    margin-bottom: 30px;
    gap: 10px;
  }

  label {
    font-size: 1rem;
  }

  input[type="text"],
  input[type="password"] {
    height: 30px;
    font-size: 0.875rem;
    padding-left: 5px;
  }

  input[type="text"]::placeholder {
    font-size: 0.875rem;
  }

  .login-tip {
    font-size: 0.75rem;
    text-align: center;
    color: var(--lightgrey);
  }

  .login-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .login-buttons .login-button {
    height: 40px;
    font-size: 1rem;
  }

  .register-account-button {
    height: 40px;
    font-size: 0.875rem;
  }
}
