nav {
  z-index: 200;
  display: flex;
  position: fixed;
  top: 0;
  width: calc(100vw - min(20vw, 360px));
  align-items: center;
  justify-content: space-between;
  background-color: var(--black);
  padding: 0 min(10vw, 180px);
  height: 70px;
}

.navbar-logo {
  height: 40px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter {
  background: var(--accent2);
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
}

.navbar-button {
  height: 40px;
  width: fit-content;
  min-width: 100px;
  max-width: 15dvw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  background: var(--accent1dark);
}

.navbar-button:hover {
  border: none;
  background: var(--accent2);
  color: var(--black);
}

.navbar-button-short {
  display: none;
}

@media (max-width: 1600px) {
  .navbar-button-long {
    display: none;
  }
  .navbar-button-short {
    display: initial;
  }
}

@media (max-width: 1200px) {
  nav {
    width: calc(100vw - 160px);
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    padding: 0 80px;
    height: 70px;
  }

  .navbar-logo {
    height: 35px;
  }

  .counter {
    min-width: 35px;
    width: 35px;
    height: 35px;
  }

  .navbar-button {
    height: 35px;
    width: fit-content;
    min-width: 70px;
    max-width: 15dvw;
    padding: 0 5px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  nav {
    height: 50px;
    width: calc(100vw - 80px);
    padding: 0 40px;
  }

  #navbar-left {
    width: 21px;
    overflow: hidden;
  }

  .navbar-logo {
    height: 30px;
  }

  .counter {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }

  .navbar-button {
    height: 30px;
    width: fit-content;
    min-width: 50px;
    max-width: 20dvw;
    padding: 0 5px;
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  nav {
    width: calc(100vw - 40px);
    padding: 0 20px;
  }

  .navbar-button {
    font-size: 0.75rem;
  }
}
