.card-opinion-min {
  z-index: 1;
  height: 260px;
  max-width: 290px;
  margin: 8px;
  padding: 30px 30px 35px;
  position: relative;
  border-radius: 30px;
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 15px 10px -10px var(--black);
}
.card-opinion-min:hover {
  transform: translateY(-6px);
}

.card-opinion-min .card-opinion-text {
  height: 220px;
  padding: 0;
  font-size: 1rem;
  text-align: justify;
  font-weight: 500;
  line-height: 140%;
  overflow-y: auto;
}

.card-opinion-stars {
  margin-top: 6px;
  height: 2rem;
}

.card-opinion-icon {
  font-size: 2rem;
  color: var(--black);
}

.card-opinion-icon.filled {
  font-variation-settings: "FILL" 1;
}

.card-opinion-author {
  font-weight: 500;
}

@media (max-width: 1200px) {
  .card-opinion-min {
    padding: 20px 20px 30px;
  }

  .card-opinion-min .card-opinion-text {
    font-size: 0.875rem;
  }

  .card-opinion-stars {
    height: 1.75rem;
  }

  .card-opinion-icon {
    font-size: 1.75rem;
  }

  .card-opinion-author {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  .card-opinion-min {
    height: 220px;
    padding: 20px 20px 30px;
  }

  .card-opinion-min .card-opinion-text {
    height: 180px;
    font-size: 0.875rem;
  }

  .card-opinion-stars {
    height: 1.5rem;
  }

  .card-opinion-icon {
    font-size: 1.5rem;
  }

  .card-opinion-author {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .card-opinion-min {
    padding: 20px;
  }
  .card-opinion-min .card-opinion-text {
    font-size: 0.75rem;
  }

  .card-opinion-stars {
    height: 1.375rem;
  }

  .card-opinion-icon {
    font-size: 1.375rem;
  }

  .card-opinion-author {
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {
  .card-opinion-min {
    height: 180px;
  }
  .card-opinion-min .card-opinion-text {
    height: 140px;
  }
}
